@mixin reset-horizontal {
  .image {
    flex-basis: auto;
  }

  .content {
    flex-basis: auto;
    flex-direction: initial;
  }

  .divider {
    height: auto;
    width: auto;
    padding-right: initial;
    border-left: initial;
  }
}

@mixin vertical {
  flex-direction: column;

  .content {
    flex-direction: column;
  }

  .divider {
    width: 100%;
    padding-top: var(--app-spacing-xs);
    border-bottom: 1px solid var(--app-color-primary);
  }
}

@mixin horizontal {
  flex-direction: row;
  flex-flow: row-reverse;

  .image {
    flex-basis: 30%;
    min-width: 150px;
  }

  .content {
    flex-basis: 70%;
    flex-direction: row-reverse;
  }

  .divider {
    height: 100%;
    width: 0;
    padding-right: var(--app-spacing-xs);
    border-left: 1px solid var(--app-color-primary);
  }

  .footer {
    flex-basis: 30%;
    flex-shrink: 0;
  }
}

.container {
  display: flex;
  border: 1px solid var(--app-color-primary);
  padding: clamp(0.5rem, 1vw, 1.5rem);
  border-radius: 0.5rem;
  gap: var(--app-spacing-sm);
  height: 100%;

  .image {
    position: relative;
    border-radius: 0.5rem;
    height: 200px;
  }

  .content {
    flex-grow: 1;
  }

  .text {
    flex-grow: 1;
  }

  &-vertical {
    @include vertical;
  }

  &-horizontal {
    @include horizontal;
  }
}

@media (max-width: 36em) {

  .container-horizontal {
    @include reset-horizontal;
    @include vertical;
  }

  .text {
    flex-grow: 0;
  }
}