.pulse {
  animation: pulse 2s ease;
  animation-iteration-count: infinite;
}

.blur {
  animation: blur 2s ease;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.3;
  }
}

@keyframes blur {
  0% {
    filter: blur(2px);
  }

  50% {
    filter: blur(4px);
  }

  100% {
    filter: blur(2px);
  }
}