.container {
  &-list {
    display: flex;
    flex-direction: column;
    gap: var(--app-spacing-md);
  }

  &-grid {
    display: grid;
    grid-gap: var(--app-spacing-md);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}