.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  border-bottom: 1px solid var(--app-color-primary);
}

.main {
  flex: 1;
}

.footer {
  flex: 0;
  border-top: 1px solid var(--app-color-primary)
}

.section {
  width: 100%;
  max-width: var(--app-breakpoint-lg);
  margin-inline: auto;
  padding-inline: var(--app-spacing-xs);
  padding-block: var(--app-spacing-sm);
}